@for $i from 1 through 500 {
  .size-#{$i} {
    width: #{$i}px !important;
    height: #{$i}px !important;
  }
  .width-#{$i} {
    width: #{$i}px !important;
  }
  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }
  .max-width-#{$i} {
    max-width: #{$i}px !important;
  }
  .height-#{$i} {
    height: #{$i}px !important;
  }
  .min-height-#{$i} {
    min-height: #{$i}px !important;
  }
  .max-height-#{$i} {
    max-height: #{$i}px !important;
  }
}