@import '../variables';

.nav-tabs {
  border-bottom: none;

  .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: var(--text-secondary);

    &.active {
      color: var(--text-primary);
      border-color: var(--color-primary);
    }
  }
}